<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="An example for the fCC InfoSec Secure Real-Time Multiplayer Game project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure Real-Time Multiplayer Game</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
  </head>
  <body>
    <header>
      <h1>Secure Real Time Multiplayer Game</h1>
    </header>
    <div id="game-container">
      <h2>
        Score: <span id="score">0</span>
        <span id="rank">Rank: 1/1</span>
      </h2>
      <canvas id="game-window" width="800" height="600"></canvas>   
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/scripts/game.js" type="module"></script>
  </body>
</html>