body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans Unicode", monospace;
  font-variant: small-caps;
  min-width: min-content;
}

#game-container {
  background-color: gainsboro;
  padding: 1em;
  border: thick solid black;
}

#game-window {
  background-size: cover;
  background-color: black;
  image-rendering: pixelated;
}

#rank {
  float: right;
}